
<div class="container">
	<div class="row justify-content-between my-4">
		<a class="categories col-3 rounded-3 p-3 total text-decoration-none" asp-area="Admin" asp-controller="Category" asp-action="Index">
			<div class="row">
				<div class="col-9">
					<h3 class="m-0">1000</h3>
					<p class="m-0 text-dark">Categories</p>
				</div>
				<div class="col pt-3">
					<i class="fa-solid fa-chevron-right fs-5"></i>
				</div>
			</div>
		</a>
		<a class="SubCategorys col-3 rounded-3 p-3 total text-decoration-none" href="#">
			<div class="row">
				<div class="col-9">
					<h3 class="m-0">3578</h3>
					<p class="m-0 text-dark">Category Details</p>
				</div>
				<div class="col pt-3">
					<i class="fa-solid fa-chevron-right fs-5"></i>
				</div>
			</div>
		</a>
		<a class="Products col-3 rounded-3 p-3 total text-decoration-none" href="#">
			<div class="row">
				<div class="col-9">
					<h3 class="m-0">2740</h3>
					<p class="m-0 text-dark">Products</p>
				</div>
				<div class="col pt-3">
					<i class="fa-solid fa-chevron-right fs-5"></i>
				</div>
			</div>
		</a>
		<a class="Orders col-3 rounded-3 p-3 total text-decoration-none" href="#">
			<div class="row">
				<div class="col-9">
					<h3 class="m-0">8439</h3>
					<p class="m-0 text-dark">Orders</p>
				</div>
				<div class="col pt-3">
					<i class="fa-solid fa-chevron-right fs-5"></i>
				</div>
			</div>
		</a>

	</div>
</div>


